$footer-height: 20rem;
$footer-height-medium-screen: 15rem;

.container {
  position: relative;
  min-height: 100vh;
  max-width: 85rem;
  margin: 0 auto;
  // ensures content doesn't hide behind footer
  padding-bottom: $footer-height;

  @media only screen and (max-width: $bp-largest) {
    padding: 0 2rem $footer-height 2rem;
  }

  @media only screen and (max-width: $bp-largest) {
    padding: 0 2rem $footer-height-medium-screen 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0 1rem $footer-height-medium-screen 1rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 10rem;

  @media only screen and (max-width: $bp-largest) {
    padding-bottom: 5rem;
  }

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  color: white;

  @media only screen and (max-width: $bp-largest) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    height: $footer-height-medium-screen;
    padding: 2rem 0;
    text-align: center;
  }
}
