$footer-height: 20rem;

.container-site {
  position: relative;
  min-height: 100vh;
}

// Everything but the footer
.container-content {
  max-width: 85rem;
  margin: 0 auto;
  // ensures content doesn't hide behind footer
  padding-bottom: $footer-height;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  align-items: center;
  background-color: $color-grey-dark-1;
  color: white;
}
