$footer-height: 20rem;

.container {
  position: relative;
  min-height: 100vh;
  max-width: 85rem;
  margin: 0 auto;
  // ensures content doesn't hide behind footer
  padding-bottom: $footer-height;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  color: white;
}
