// COLORS
$color-grey-dark-1: #454545;

$color-grey-light-1: #cecece;
$color-grey-light-2: #e8e8e8;

$color-highlight-1: #ff00b7;
$color-highlight-1-faded: #fc9de1;
$color-highlight-1-faded-2: #fecff0;
$color-highlight-1-dark: #83005e;
$color-highlight-2: #0088ff;
$color-highlight-2-faded: #d9edff;
$color-highlight-3: #fcdb87;
$color-highlight-3-faded: #fef3d8;
$color-highlight-4: #915c9b;
$color-highlight-4-faded: #f8d3ff;

// Breakpoints (em = width in px / 16)

$bp-largest: 56.25em; // 900px
$bp-large: 49.375em; // 790px
$bp-medium: 43.75em; // 700px
$bp-small: 32.8125em; // 525px
$bp-xsmall: 25em; // 400px
* {
  margin: 0;
  padding: 0;
}

// ensures that all elements inherit the border-box setting for box sizing
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: white;
  color: $color-grey-dark-1;
  line-height: 1.7;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; // sharp fonts in firefox on macs

  @media only screen and (max-width: $bp-largest) {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.2rem;
  }
}
