// <kbd> and <code> that comes in paragraphs. Code in a paragraph is
// surrounded with backticks in markdown: `this = code`
kbd,
code,
pre {
  font-family: 'Fira Mono', monospace;
}

kbd,
p code,
ul code {
  background-color: $color-grey-light-1;
  color: black;
  padding: 0.2rem 0.6rem 0.3rem 0.6rem;
  font-size: 1.6rem;
  margin: 0 2px;
  border-radius: 2px;

  @media only screen and (max-width: $bp-small) {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
  }
}

.highlight {
  margin: 1rem 0;
  border-radius: 8px;
  position: relative;
  overflow: auto;
  width: 100%;

  code {
    //background-color: transparent;
    width: 100%;
  }

  // Code blocks with line numbers or not
  pre,
  & > pre {
    overflow: auto;
    text-align: left;
  }

  // Code blocks with NO numbers
  & > pre {
    padding: 2rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 1.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem 1.5rem 1.5rem 1rem;
    }
  }

  // Code blocks with numbers
  & > div {
    padding: 2rem 2rem 2rem 1rem;
    //The code only
    // & pre {
    // }
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 1.3rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.2rem;
  }
}

.highlight-window {
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
  font-family: 'Fira Mono', monospace;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

  &__bar {
    background-color: $color-grey-light-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__file-name {
    font-style: italic;
    color: black;
    padding: 0.3rem 0;
  }

  & .highlight {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  // adds MacOs style buttons
  &::after {
    content: '';
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    background-color: rgba(255, 87, 80, 1);
    box-shadow: 2.2rem 0 0 rgba(255, 193, 47, 1),
      4.4rem 0 0 rgba(41, 206, 66, 1);
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    top: 1rem;
    left: 1rem;

    @media only screen and (max-width: $bp-small) {
      height: 1rem;
      width: 1rem;
      top: 0.75rem;
      left: 0.75rem;
      box-shadow: 1.5rem 0 0 rgba(255, 193, 47, 1),
        3rem 0 0 rgba(41, 206, 66, 1);
    }
  }
}
