.header {
  &__logo {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    letter-spacing: 4px;

    @media only screen and (max-width: $bp-small) {
      font-size: 3rem;
      letter-spacing: 4px;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 3rem;
      letter-spacing: 0;
      text-align: center;
      line-height: 1;
      padding-bottom: 1rem;
    }
  }

  &__nav {
    display: flex;
    font-size: 2rem;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 1.5rem;
    }

    :not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link,
  &__link:visited {
    color: black;
  }

  &__link:hover,
  &__link:visited:hover {
    color: $color-highlight-1;
    border-bottom: 1px solid $color-highlight-1;
  }

  &__current-page,
  &__current-page:visited {
    color: $color-highlight-1;
    font-weight: 700;
    border-bottom: 1px solid $color-highlight-1;
  }

  &__current-page:hover,
  &__current-page:visited:hover {
    color: $color-highlight-2;
  }
}
