.post-list {
  &__card {
    &:not(:first-child) {
      margin-top: 6rem;

      @media only screen and (max-width: $bp-medium) {
        margin-top: 3rem;
      }
    }
  }

  &__title-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 1rem;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: 3rem;
    line-height: 1.2;
    display: inline-block;
    flex: 0 0 80%;
    margin: 0;
    font-style: italic;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.8rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
    @media only screen and (max-width: $bp-xsmall) {
      font-size: 1.8rem;
    }

    a,
    a:visited {
      color: black;
    }
  }
  &__date {
    font-style: italic;

    @media only screen and (max-width: $bp-medium) {
      padding: 0.5rem 0;
      padding-left: 2px;
    }

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 1.2rem;
    }
  }
  &__descriptors {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    text-transform: lowercase;
  }

  &__tag,
  &__category {
    font-size: 1.4rem;
    transition: all 0.2s ease;
    border: 1px solid transparent;

    @media only screen and (max-width: $bp-small) {
      font-size: 1rem;
      text-transform: uppercase;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      color: $color-highlight-2;
      border-bottom: 1px solid $color-highlight-2;
    }
  }

  &__category,
  &__category:visited {
    color: $color-highlight-1;
  }

  &__tag,
  &__tag:visited {
    color: $color-grey-dark-1;
  }

  &__subtitle {
    margin-top: 2rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 0.5rem;
    }
  }
}
