.title {
  &__dateline {
  }

  &__date {
    color: $color-highlight-1;
    font-style: italic;
    display: inline-block;
  }

  &__date--update {
    color: $color-highlight-1;
    font-style: italic;
    display: inline-block;
  }

  &__updated {
    display: inline-block;
    font-style: italic;
    padding-left: 0.5rem;
    color: $color-grey-medium-1;
  }
}

.note-box {
  padding: 1rem 3rem;
  box-shadow: 2px 2px 0 $color-highlight-4, 4px 4px 0 $color-highlight-2;
  border: 2px solid $color-highlight-1;
  //border-bottom: 2px solid $color-highlight-4;
  //background-color: $color-highlight-4-faded;
  color: black;
  margin: 0 auto;
  width: 75%;

  @media only screen and (max-width: $bp-largest) {
    width: 90%;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    margin: 2rem auto;
  }
}
