a,
a:visited {
  text-decoration: none;
  color: $color-highlight-1;
  cursor: pointer;

  &:hover {
    color: $color-highlight-2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: 700;
  margin: 4rem 0 2rem 0;
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1.2;

  @media only screen and (max-width: $bp-small) {
    margin: 1rem 0 1rem 0;
  }
}

h1 {
  font-size: 3rem;
  margin-top: 0;

  @media only screen and (max-width: $bp-large) {
    font-size: 2.6rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 2.1rem;
  }
}

h2 {
  font-size: 2.8rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 2.4rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 1.7rem;
  }
}

h4 {
  font-size: 2rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.7rem;
  }

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 1.6rem;
  }
}

h5 {
  font-size: 1.8rem;

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.6rem;

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 1.4rem;
  }
}

p {
  line-height: 1.7;
  margin: 3rem 0;

  @media only screen and (max-width: $bp-large) {
    margin: 2rem 0;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 1rem 0;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 1rem 0;
  }

  @media only screen and (max-width: $bp-xsmall) {
    text-align: justify;
  }
}

blockquote {
  padding-left: 2.5rem;
  font-style: italic;
  font-size: 2.4rem;
  border-left: 2px solid $color-highlight-1;

  @media only screen and (max-width: $bp-largest) {
    font-size: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 1.4rem;
  }
}

table,
th,
td {
  border: 1px solid $color-grey-light-1;
  border-collapse: collapse;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;

  @media only screen and (max-width: $bp-largest) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.3rem;
    padding: 0.75rem 1.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 1.1rem;
  }
}

table {
  overflow-x: auto;
}

th {
  border: 1px solid white;
  background-color: $color-grey-light-1;
  color: black;
  vertical-align: middle;
}

.table-responsive__container {
  overflow: auto;
}

ol,
ul {
  list-style-position: inside;
  margin-left: 2rem;

  @media only screen and (max-width: $bp-small) {
    margin-left: 0.5rem;
  }
}

ul {
  list-style-type: circle;
}

li:not(:last-child) {
  margin-bottom: 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-bottom: 0.5rem;
  }
}

section .footnotes {
  margin-bottom: 3rem;
  // Markdown automatically inserts and hr
  hr {
    margin-bottom: 3rem;
  }

  // Removes the indent used in other lists
  ol {
    margin-left: 0;
  }

  // A little extra space
  li:not(:last-child) {
    margin-bottom: 3rem;
  }

  li p {
    display: inline;
  }
}
