<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->
  <!-- Process and load SASS as CSS -->
  {{ $styles := resources.Get "/sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  <title></title>
</head>

<body>
  <div class="container">
    <header>
      <div class="header__logo">
        Mountains of Code
      </div>
      <nav class="header__nav">
        <div class="header__link">About Me</div>
        <div class="header__link">Categories</div>
        <div class="header__link">Tech</div>
      </nav>
    </header>

    <main>
      {{ block "main" . }}

      {{end}}
    </main>

    <footer>

    </footer>
  </div>
</body>

</html>