{{ define "main" }}

<section class="title-section">
     <h1 class="title__title">{{.Title}}</h1>

     {{ if isset .Params "last_update" }}
     <div class="title__dateline--update">
          <div class="title__date--update">{{ dateFormat "January 2, 2006" .Date }}</div>
          <div class="title__updated">Updated: {{ dateFormat "January 2, 2006" .Params.last_update }}
          </div>

          {{ else }}
          <div class="title__dateline">
               <div class="title__date">{{ dateFormat "January 2, 2006" .Date }}</div>
          </div>
          {{ end }}
</section>
<section class="content-body">

     <!-- The content from the markdown file -->
     <div>{{.Content}}</div>
</section>

{{end}}